---
---

@import "{{ site.theme }}";

h1, h2, h3, h4 {
    color: blue;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}


.justified {
text-align: justify;
}

.thumby {
text-align:center;
border-style: solid;
border-width: 0px;
  margin: 20px;
  padding: 20px;
  padding-bottom: 70px;
width: 160px;
height: 160px;
background-repeat: no-repeat;
}

img {
object-fit: contain;
}
