---
---

@import "{{ site.theme }}";

h1, h2, h3, h4 {
    color: blue;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}


.justified {
  margin: auto;
}

.post-meta {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.post-list > li {
  margin-bottom: 0.75em; // reduce from default ~2em
}

.post-link {
  line-height: 1.3; // tighter line-height
  font-size: 1.15em; // reduced from typical 1.5em
}
